#particles-js {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 50;
}

#title-page-card {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: linear-gradient(#022c44 25%, #025469 70%,#396d8a);
    background-size: 100% 100%;
    overflow-x: hidden;
}

.title-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    // position: relative;
    padding-top: 25vh;
}

mat-card {
    padding: 15vh 5vh 15vh 5vh;
    height: min-content;
    background-color: rgba(142, 200, 206, 0.438);
    outline: 15px double rgba(142, 200, 206, 0.438);
    outline-offset: 10px;
    // box-shadow: 5rem;
}

h1, h2, p, span, button {
    font-family: 'Spectral', serif;
}

h1 {
    font-size: 30px;
}

h2 {
    line-height: 70px;
    font-weight: 900;
    font-size: 75px;
    // font-family: 'Yesteryear', cursive;
    // text-shadow: -4px 2px 2px #00000046;
    font-family: 'Nova Square', cursive;
}

span {
    font-size: 20px;
    justify-content: center;
}

button {
    margin-top: 15vh;
    font-family: 'Nova Square', cursive;
    font-style: bold;
    font-weight: 900;
    font-size: 25px;
    z-index: 51;
    background-color: transparent;
    border: none;
    cursor: pointer;
    // background-color: rgba(144, 226, 226, 0.507);
}

button:hover {
    font-size: 27px;
    transition: font-size 0.5s;
}
