@keyframes gradientAnimation {
    0% {
        background-position:0% 50%;
    }
    50% {
        background-position:100% 50%;
    }
    100% {
        background-position:0% 50%;
    }
}

#title-page-card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #52eea0, #3ce76f, #53caf5, #cf81fc, #f175c8, #c73596);
    background-size: 700% 700%;
    animation: gradientAnimation 18s ease infinite;

}

.title-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 35vh;
}

mat-card {
    // width: min-content;
    padding: 5vh 5vh 5vh 5vh;
    height: min-content;
    background-color: rgba(144, 226, 226, 0.26);
    outline: 15px double rgba(144, 226, 226, 0.26);
    outline-offset: 10px;
    box-shadow: 5rem;
}

h1, h2, p, span {
    font-family: 'Spectral', serif;
}

h1 {
    font-size: 30px;
}

h2 {
    line-height: 70px;
    font-weight: 900;
    font-size: 75px;
    text-shadow: -4px 2px 2px #00000046;
    // font-family: 'Nova Square', cursive;
}

span {
    font-size: 20px;
    justify-content: center;
}

button {
    // margin-top: 25vh;
    font-family: 'Nova Square', cursive;
    font-style: bold;
    font-weight: 900;
    font-size: 25px;
    z-index: 3;
    background-color: transparent;
    border: none;
    // background-color: rgba(144, 226, 226, 0.507);
}

button:hover {
    font-size: 28px;
    transition: font-size 1s;
}