<section id="title-page-card">
    <div id="particles-js"></div>
    <div class="waves-container">
        <div class="front-wave"></div>
        <div class="middle-wave"></div>
        <div class="back-wave"></div>
    </div>
    <div class="title-page-content">
        <mat-card class="mat-elevation-z0">
            <h1>Hi, I'm</h1>
            <h2>Ikram Kohil</h2>
            <span>I'm a third year software engineering student at École Polytechnique de Montréal!</span>
        </mat-card>   
    </div>
    <button (click)="scroll()">
        About Me <br>
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
</section>
