#about-me-page-card {
    height: 100%;
    width: 100%;
    background-color: var(--bckg-color); 
    padding-top: var(--top-padding);
    display: flex;
    flex-direction: column;
    // padding-left: 1.04vw;
    // overflow: hidden;
}

#skills-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // flex-basis: 50%;
    // align-content: flex-start;
    // align-items: center;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 14%;
    padding: 0;
    margin: 0;
    // width: 100%;
}

.skill-img {
    height: 40%;
    width: 35%;
}

.abt-text {
    text-align: justify;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

// p {
//     text-align: center;
// }