<!-- <div style="height: 100%; width: 100%; background-color: #b6cfdd; padding-top: 8.86vh;">
    <app-top-navigation></app-top-navigation>
    Hi!

    As you already know, my name is Ikram and I am blah blah. 

    balh blah introduce interests:
    - Video games (playing and dev) (personal favourites are half-life, dragon age, detroit)
    - Painting
    - web develpment (sorta ig)

    how i got into software: always was into creative things, but really liked my stem classes,
    thought that software engineering was the best way for me to tap into my creativity while remaining in stem.
    
    Techs im familiar with:
    - C++, TS, etc

    button or smtg to switch to education page
    in education: dawson, poly

    then switch to projects
    - earthquake (??)
    - systèmes embarqués
    - scrabble
    - eventually add unity game

    then contact me section

</div> -->

<section id="about-me-page-card">
    <p>Wee</p>
    <div class="education"></div>
    <div class="skills"></div>
</section>
