#about-me-page-card {
    height: 100%;
    width: 100%;
    background-color: var(--bckg-color); 
    padding-top: var(--top-padding);
    // padding-left: 1.04vw;
    // overflow: hidden;
}

.skill-img {
    height: 10%;
    width: 5%;
}