mat-toolbar {
    height: 7vh;
    justify-content: space-between;
    background-color:var(--top-nav-color);
    box-shadow: 10px;
    transition: background-color 1s ease;
}

#content {
    display: flex;
    color: white;
    font-family: 'VT323', monospace;
    font-size: x-large;
    gap: 1.5vw;
}

#content >*:hover {
    cursor: pointer;
}

.name {
    font-family: 'Nova Square', cursive;
    font-weight: 600;
    color: var(--font-color-title);
}

.name:hover {
    cursor: pointer;
}

.nbr {
    font-family: 'VT323', monospace;
    color: var(--font-color-title);
}