mat-toolbar {
    // position: sticky;
    background-color: #022c4475;
    height: 7vh;
    // border: turquoise;
}

.name {
    font-family: 'Nova Square', cursive;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.name:hover {
    cursor: pointer;
}