<mat-toolbar> 
    <span class="name" (click)="scroller.scroll(typeOfAnchors.Title)"> Ikram Kohil </span>   
    <div id="content">    
        <span (click)="scroller.scroll(typeOfAnchors.AboutMe)"> <span class="nbr">1.</span> About </span>
        <span (click)="scroller.scroll(typeOfAnchors.EducationSection)"> <span class="nbr">2.</span> Education </span>
        <span (click)="scroller.scroll(typeOfAnchors.Projects)"> <span class="nbr">3.</span>Projects </span>
        <span (click)="scroller.scroll(typeOfAnchors.Contacts)"> <span class="nbr">4.</span> Contact </span> 
    </div>
</mat-toolbar>