mat-toolbar {
    // position: sticky;
    // background-color: #041f2e83;
    height: 7vh;
    justify-content: space-between;
    background-color:var(--top-nav-color);
    transition: background-color 1s ease;
    // transition: all 0.3s ease-in-out 0s;
    // border: turquoise;
}

.name {
    font-family: 'Nova Square', cursive;
    font-weight: 600;
    color: rgb(35, 241, 224);
}

.name:hover {
    cursor: pointer;
}

.content {
    color: white;
}