<section id="contact-me-page-card">
    <h1>Want to talk?</h1>
    <h2> I'm Always looking for new opportunities! </h2>
    <div class="contacts-list">
        <div class="contact-method">
            <img src="{{typeOfSkills.Email}}">
            <p>
                kohil.ikram@hotmail.com
            </p>
        </div>
        <div class="contact-method">
            <img src="{{typeOfSkills.Github}}">
            <p>
                RamiKoh
            </p>
        </div>
        <div class="contact-method">
            <img src="{{typeOfSkills.LinkedIn}}">
            <p>
                Ikram kohil
            </p>
        </div>
    </div>
</section>