#contact-me-page-card {
    // background-color: rgba(25, 206, 226, 0.486);
    background-color: rgb(255, 255, 255);;
}

.contacts-list {
    display: flex;
}

img {
    height: 25%;
    width: 25%;
}

h1, h2 {
    text-align: center;
}

h1 {
    margin-bottom: 0;
}