mat-card {
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.project-desc {
    display: flex;
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: rgb(0, 255, 255);
    border-radius: 10px;
    padding-left: 7px;;
}

.project-img {
    height: 25vh;
    width: 25vw;
    object-fit: cover;
    border-radius: 15px;
    border: none;
}

.project-img:hover {
    // box-shadow: 3px 2px 2px #00000041;
    border-radius: 5px;
    transition: border-radius 0.5s;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
}
