mat-card {
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

.project-desc {
    display: flex;
    border-left-style: solid;
    border-left-width: 10px;
    border-left-color: #23f1e0;
    padding-left: 7px;
    // box-shadow: -10px 0 5px -2px rgb(78, 105, 103);
}

.project-img {
    height: 100%;
    width: 33.33%;
    object-fit: cover;
    border-radius: 15px;
    border: none;
}

.project-img:hover {
    // box-shadow: 3px 2px 2px #00000041;
    border-radius: 5px;
    transition: border-radius 0.5s;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
}
