/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;

@import 'custom-theme.scss';

@include mat.core();
@include mat.all-component-themes($mat-light-theme);

html, body { height: 100%; }
html { scroll-behavior: smooth;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --top-nav-color: transparent;
  --top-padding: 8.86vh;
  --bckg-color: #b6cfdd;
  
}

/*
    Taken and modified from https://www.digitalocean.com/community/tutorials/css-scrollbars.
*/

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(50, 50, 55, 0.8);
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(190, 218, 236);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgb(50, 50, 55);
    border-radius: 20px;
    border: 3px solid rgb(50, 50, 55);
  }